.ttl {
  font-size: 20px;
  color: #00008b;
  margin: 20px;
}
.nav {
  list-style: none;
  text-align: right;
}
.nav li {
  display: inline;
  margin-right: 30px;
}
.nav li a {
  text-decoration: none;
  color: #00008b;
}
.comment {
  font-size: 40px;
  margin-top: -100px;
}
.img {
  margin: 30px 0 0 550px;
  display: block;
  width: 50%;
}
.box {
  width: 700px;
  height: 200px;
  background: #00008b;
}
